<!DOCTYPE html>
<html ng-app="FaltaPouco">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./app/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./app/styles/position.css">
    <link rel="stylesheet" href="./app/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
    <title>Falta Pouco</title>
  </head>
  <body ng-controller="controllerTimer as ctrlTimer">
    <main>
      <div class="container espacamento-top">
        <div class="col-md-2 pull-right">
          <button type="button" class="btn btn-default" ng-click="ctrlTimer.irConfig()">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Config
          </button>
        </div>
      </div>
      <div class="container espacamento-top-timer text-center">
          <div class="title">Falta Pouco</div>
          <div id="timer" class="timer" ng-bind="ctrlTimer.timerInit.valor"></div>
        <button ng-click="ctrlTimer.triggerTimer()" type="button" class="btn btn-danger btn-large">Trabalhando!</button>
      </div>
    </main>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script type="text/javascript" src="./app/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./app/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./app/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./app/scripts/easytimer.min.js"></script>
    <script type="text/javascript" src="./app/scripts/app.js"></script>
    <script type="text/javascript" src="./app/scripts/app.constant.js"></script>
    <script type="text/javascript" src="./app/scripts/controllers/timer_controller.js"></script>
    <script type="text/javascript" src="./app/scripts/models/timer_model.js"></script>
    <script>if (window.module) module = window.module;</script>
  </body>
</html>
