<div ng-controller="controllerConfig as ctrlConfig" class="container">
    <div id="configModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Configurações</h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label>Horas de trabalho por dia</label>
                      <input class="form-control" type="number" ng-model="ctrlConfig.data">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button ng-click="ctrlConfig.atualizaConfig()" class="btn btn-danger" data-dismiss="modal">Salvar</button>
                  <button class="btn btn-secundary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
